.consultation-survey .field--name-field-option-image .field--name-field-media-image {
  float: none;
  margin: 0; }

.consultation-survey > .field--name-questions > .field__item {
  display: none; }
  .consultation-survey > .field--name-questions > .field__item.current {
    display: block; }

.consultation-survey > .field--name-completion-message {
  display: none; }
  .consultation-survey > .field--name-completion-message.show {
    display: block; }

.consultation-survey .consultation-survey-progress-wrapper {
  font-weight: bolder; }

.consultation-survey .consultation-question {
  padding: 0px; }
  .consultation-survey .consultation-question .field--name-question-text {
    font-size: 20px; }
  .consultation-survey .consultation-question .consultation-question-instructions {
    font-size: .8em;
    margin: 5px 0; }
  .consultation-survey .consultation-question .consultation-question-nav-buttons {
    margin-top: 20px; }
    .consultation-survey .consultation-question .consultation-question-nav-buttons button {
      border: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0 1; }
      .consultation-survey .consultation-question .consultation-question-nav-buttons button:focus {
        outline: none; }
      .consultation-survey .consultation-question .consultation-question-nav-buttons button.consultation-question-next-button, .consultation-survey .consultation-question .consultation-question-nav-buttons button.consultation-question-finish-button {
        padding: 1rem;
        font-size: 0.9em;
        font-weight: bold;
        background-color: #23849B;
        color: white; }
      .consultation-survey .consultation-question .consultation-question-nav-buttons button.consultation-question-prev-button {
        background-color: transparent;
        color: #888;
        margin: 0px;
        padding: 0px;
        margin-top: 1rem;
        font-size: 0.8em;
        font-weight: 500; }
        .consultation-survey .consultation-question .consultation-question-nav-buttons button.consultation-question-prev-button:before {
          content: "<< "; }
        .consultation-survey .consultation-question .consultation-question-nav-buttons button.consultation-question-prev-button:hover {
          color: black;
          text-decoration: underline; }

.consultation-question.question-type-options-question > ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .consultation-question.question-type-options-question > ul li {
    padding: 5px 0; }
    .consultation-question.question-type-options-question > ul li input[type="radio"] {
      display: none; }
      .consultation-question.question-type-options-question > ul li input[type="radio"] + label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .consultation-question.question-type-options-question > ul li input[type="radio"] + label:before {
          content: '';
          border: 2px solid black;
          height: 30px;
          width: 30px;
          border-radius: 17px;
          display: inline-block;
          margin-right: 10px; }
        .consultation-question.question-type-options-question > ul li input[type="radio"] + label:hover:before {
          background: lightgrey; }
      .consultation-question.question-type-options-question > ul li input[type="radio"]:checked + label:before {
        content: '\2022';
        font-size: 68px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }

.consultation-survey .consultation-question.question-type-select-image-options-question input[type="checkbox"] {
  display: none; }
  .consultation-survey .consultation-question.question-type-select-image-options-question input[type="checkbox"]:checked + label .list-option-content-wrapper {
    background: grey;
    border: 2px solid blue; }

.consultation-survey .consultation-question.question-type-select-image-options-question .field--name-field-list-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .consultation-survey .consultation-question.question-type-select-image-options-question .field--name-field-list-options > .field__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%; }
    .consultation-survey .consultation-question.question-type-select-image-options-question .field--name-field-list-options > .field__item .list-option-content-wrapper {
      -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.19);
              box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.19); }
      .consultation-survey .consultation-question.question-type-select-image-options-question .field--name-field-list-options > .field__item .list-option-content-wrapper .field--name-field-option-image img {
        width: 100%;
        height: auto;
        margin: 0; }
      .consultation-survey .consultation-question.question-type-select-image-options-question .field--name-field-list-options > .field__item .list-option-content-wrapper .field--name-field-option-title {
        padding: 0 10px; }

.consultation-question.question-type-slider-question .slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.consultation-question.question-type-slider-question input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.2px 0; }

.consultation-question.question-type-slider-question input[type=range]:focus {
  outline: none; }

.consultation-question.question-type-slider-question input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.6px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 0px;
  border: 0px solid #010101; }

.consultation-question.question-type-slider-question input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #6f3177;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.2px; }

.consultation-question.question-type-slider-question input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(13, 13, 13, 0.09); }

.consultation-question.question-type-slider-question input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 0px;
  border: 0px solid #010101; }

.consultation-question.question-type-slider-question input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #6f3177;
  cursor: pointer; }

.consultation-question.question-type-slider-question input[type=range]::-ms-track {
  width: 100%;
  height: 3.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

.consultation-question.question-type-slider-question input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.09);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }

.consultation-question.question-type-slider-question input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.09);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d; }

.consultation-question.question-type-slider-question input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #6f3177;
  cursor: pointer;
  height: 3.6px; }

.consultation-question.question-type-slider-question input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.09); }

.consultation-question.question-type-slider-question input[type=range]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0.09); }

.consultation-survey .consultation-question.question-type-sorted-list-question input[type="checkbox"] {
  display: none; }

.consultation-survey .consultation-question.question-type-sorted-list-question label {
  display: block; }

.consultation-survey .consultation-question.question-type-sorted-list-question .consultation-sorted-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .consultation-survey .consultation-question.question-type-sorted-list-question .consultation-sorted-list-wrapper .consultation-sorted-list-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1 1; }
  .consultation-survey .consultation-question.question-type-sorted-list-question .consultation-sorted-list-wrapper .consultation-sorted-list-legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0 2rem;
    text-align: center;
    position: relative; }
    .consultation-survey .consultation-question.question-type-sorted-list-question .consultation-sorted-list-wrapper .consultation-sorted-list-legend:after {
      content: "";
      position: absolute;
      width: 100%;
      height: calc(100% - 4em);
      top: 2em;
      background-image: url("../assets/bg-sorted-list-scale-line.svg"), url("../assets/bg-sorted-list-scale-arrow-up.svg"), url("../assets/bg-sorted-list-scale-arrow-down.svg");
      background-repeat: repeat-y, no-repeat, no-repeat;
      background-size: 2px auto, 10px, 10px;
      background-position-x: center, center, center;
      background-position-y: top, top, bottom; }
    .consultation-survey .consultation-question.question-type-sorted-list-question .consultation-sorted-list-wrapper .consultation-sorted-list-legend > div {
      background: white; }
    .consultation-survey .consultation-question.question-type-sorted-list-question .consultation-sorted-list-wrapper .consultation-sorted-list-legend .field--name-field-upper-bound-label, .consultation-survey .consultation-question.question-type-sorted-list-question .consultation-sorted-list-wrapper .consultation-sorted-list-legend .field--name-field-bottom-bound-label {
      font-size: 0.8em;
      font-weight: bold; }

.consultation-survey .consultation-question.question-type-sorted-list-question .list-option-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.19);
  width: 100%;
  min-height: 58px;
  position: relative; }
  .consultation-survey .consultation-question.question-type-sorted-list-question .list-option-content-wrapper:after {
    content: '';
    height: 40px;
    width: 40px;
    background-image: url("../assets/icon-draggable.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-position: center; }
  .consultation-survey .consultation-question.question-type-sorted-list-question .list-option-content-wrapper .field--name-field-option-image {
    width: 80px;
    margin-bottom: 0; }
    .consultation-survey .consultation-question.question-type-sorted-list-question .list-option-content-wrapper .field--name-field-option-image img {
      margin: 0; }
  .consultation-survey .consultation-question.question-type-sorted-list-question .list-option-content-wrapper .field--name-field-option-title {
    margin: 5px 45px 5px 10px;
    font-size: 15px; }

.consultation-question.question-type-text-question textarea {
  resize: none;
  width: 100%; }
  .consultation-question.question-type-text-question textarea:focus {
    outline: none; }

/*# sourceMappingURL=consultation.css.map */
