.consultation-question.question-type-options-question {
  >ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      padding: 5px 0;

      input[type="radio"] {
        display: none;

        &+label {
          display: flex;
          align-items: center;
          

          &:before {
            content: '';
            border: 2px solid black;
            height: 30px;
            width: 30px;
            border-radius: 17px;
            display: inline-block;
            margin-right: 10px;
          }

          &:hover {
            &:before {
              background: lightgrey;
            }
          }
        }

        &:checked+label {
          &:before {
            content: '\2022';
            font-size: 68px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}