.consultation-survey .consultation-question.question-type-select-image-options-question { 
  input[type="checkbox"] {
    display: none;

    &:checked+label .list-option-content-wrapper{
      background: grey;
      border: 2px solid blue;
    }
  }

  .field--name-field-list-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    > .field__item  {
      flex: 0 0 30%;

      .list-option-content-wrapper {
        box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.19);

        .field--name-field-option-image {
          img {
            width: 100%;
            height: auto;
            margin: 0;
          }
        }

        .field--name-field-option-title {
          padding: 0 10px;
        }
      }

    }
  }
}