.consultation-survey .consultation-question.question-type-sorted-list-question {
  input[type="checkbox"] {
    display: none;
  }

  label {
    display: block;


  }

  .consultation-sorted-list-wrapper {
    display: flex;

    .consultation-sorted-list-container {
      flex: 1;
    }

    .consultation-sorted-list-legend {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      margin: 0 2rem;
      text-align: center;
      position: relative;

      &:after {

        content: "";
        position: absolute;
        width: 100%;
        height: calc(100% - 4em);
        top: 2em;
        background-image: url('../assets/bg-sorted-list-scale-line.svg'), url('../assets/bg-sorted-list-scale-arrow-up.svg'), url('../assets/bg-sorted-list-scale-arrow-down.svg');
        background-repeat: repeat-y, no-repeat, no-repeat;
        background-size: 2px auto, 10px, 10px;
        background-position-x: center, center, center;
        background-position-y: top, top, bottom;
  
      }

      & > div {
        background: white;
      }

      .field--name-field-upper-bound-label, .field--name-field-bottom-bound-label {
        font-size: 0.8em;
        font-weight: bold;
      }
    }
  }

  .list-option-content-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.19);
    width: 100%;
    min-height: 58px;
    position: relative;

    &:after {
      content: '';
      height: 40px;
      width: 40px;
      background-image: url('../assets/icon-draggable.svg');
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-position: center;
    }



    .field--name-field-option-image {
      width: 80px;
      margin-bottom: 0;

      img {
        margin: 0;
      }
    }

    .field--name-field-option-title {
      margin: 5px 45px 5px 10px;
      font-size: 15px;


    }
  }
}