.consultation-question.question-type-slider-question {

  .slider-wrapper {
    display: flex;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.2px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3.6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #6f3177;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13.2px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(13, 13, 13, 0.09);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 3.6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 0px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #6f3177;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 3.6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.09);
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.09);
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: #6f3177;
    cursor: pointer;
    height: 3.6px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.09);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(13, 13, 13, 0.09);
  }

}