.consultation-survey .consultation-question {
  
  padding: 0px; 

  .field--name-question-text {
    font-size: 20px;
  }

  .consultation-question-instructions {
    font-size: .8em;
    margin: 5px 0;
  }

  .consultation-question-nav-buttons {
    margin-top: 20px;

    button {
      border: 0;
      flex: 0;

      &:focus {
        outline: none;
      }

      &.consultation-question-next-button,
      &.consultation-question-finish-button {
        padding: 1rem;
        font-size: 0.9em;
        font-weight: bold;
        background-color: #23849B;
        color: white;

      }

      &.consultation-question-prev-button {
        background-color: transparent;
        color: #888;
        margin: 0px;
        padding: 0px;
        margin-top: 1rem;
        font-size: 0.8em;
        font-weight: 500;

        &:before {
          content: "<< ";
        }

        &:hover {
          color: black;
          text-decoration: underline;
        }
      }
    }
  }
}