.consultation-survey .field--name-field-option-image .field--name-field-media-image {
  float: none;
  margin: 0;
}

.consultation-survey {
  > .field--name-questions {
    > .field__item {
      display: none;

      &.current {
        display: block;
      }
    }
  }

  > .field--name-completion-message {
    display: none;

    &.show {
      display: block;
    }
  }

  .consultation-survey-progress-wrapper {
    font-weight: bolder;
  }
}
