{% extends 'consultation-question.html.twig' %}
{% set question_type_name = 'question-type-sorted-list-question' %}
{% set question_classes = [
  'consultation-question',
  question_type_name
]%}
{% if consultation_question_required %}
{%  set question_classes = question_classes|merge(['required']) %}
{% endif %}
{% block question_type %}{{ question_type_name }}{% endblock %}
{% block question_attributes %}{{ attributes.addClass(question_classes) }}{% endblock %}
{% block question_instructions %}Place the options in your order of preference{% endblock %}
{% block question_content %}
  <input class="question-combined-answer" name="consultation-question-{{ consultation_question_id }}" type="hidden" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}" value="" />
  <div class="consultation-sorted-list-wrapper">
    <div class="consultation-sorted-list-container">
      {{ content.field_list_options }}
    </div>
    <div class="consultation-sorted-list-legend">
      {{content.field_upper_bound_label}}
      {{content.field_bottom_bound_label}}
    </div>
  </div>
{% endblock %}

