{% extends 'consultation-question.html.twig' %}
{% set question_type_name = 'question-type-select-image-options-question' %}
{% set question_classes = [
  'consultation-question',
  question_type_name
]%}
{% if consultation_question_required %}
{%  set question_classes = question_classes|merge(['required']) %}
{% endif %}
{% block question_type %}{{ question_type_name }}{% endblock %}
{% block question_attributes %}{{ attributes.addClass(question_classes) }}{% endblock %}
{% block question_instructions %}Select one or more items from the options below{% endblock %}
{% block question_content %}
  <input class="question-combined-answer" name="consultation-question-{{ consultation_question_id }}" type="hidden" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}" value="" />
  {{ content.field_list_options }}
{% endblock %}