{% extends 'consultation-question.html.twig' %}
{% set question_type_name = 'question-type-options-question' %}
{% set question_classes = [
  'consultation-question',
  question_type_name
]%}
{% if consultation_question_required %}
{%  set question_classes = question_classes|merge(['required']) %}
{% endif %}
{% block question_type %}{{ question_type_name }}{% endblock %}
{% block question_attributes %}{{ attributes.addClass(question_classes) }}{% endblock %}
{% block question_instructions %}Select one item from the options below{% endblock %}
{% block question_content %}
  <ul>
  {% for item in content.field_text_options['#items'] %}
      <li>
        <input id="consultation-question-{{ consultation_question_id }}-option--{{ item.value|raw }}" name="consultation-question-{{ consultation_question_id }}" type="radio" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}" value="{{ item.value|raw }}" />
        <label for="consultation-question-{{ consultation_question_id }}-option--{{ item.value|raw }}">{{ item.value|raw }}</label>
      </li>
  {% endfor %}
  </ul>
{% endblock %}