<div id="consultation-survey-{{ consultation_survey_id }}" {{ attributes.addClass('consultation-survey') }}>
  <div class="consultation-survey-progress-wrapper">Question <span class="consultation-survey-progress-index">1</span> of {{ consultation_survey_length }}</div>
  {{ elements }}
</div>