{% set classes = [
  'consultation-question'
] %}

<div data-consultation-question-required="{{ consultation_question_required ? 'true' : 'false' }}" data-consultation-question-submitted="false" data-consultation-question-type="{% block question_type %}{% endblock %}" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}" data-consultation-question-order="{{consultation_question_order}}" {% block question_attributes %}{% endblock %}>

{% block test %}{% endblock %}

  {{ content.question_text }}

  <p class="consultation-question-instructions">{% block question_instructions %}{% endblock %}</p>

  {% block question_content %}{% endblock %}

  {% if consultation_question_required %}
    <p class="consultation-question-required">This question is mandatory.</p>
    <p class="consultation-question-validation-message"></p>
  {% endif %}
  
  <div class="consultation-question-nav-buttons">
    {% if not consultation_question_last %}
      <div class="consultation-question-nav-button-wrapper"><button class="consultation-question-button consultation-question-next-button {{ consultation_question_required ? 'required' : ''}}" data-consultation-question-order="{{consultation_question_order}}" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}">Next Question</button></div>
    {% endif %}
    {% if consultation_question_last %}
      <div class="consultation-question-nav-button-wrapper"><button class="consultation-question-button consultation-question-finish-button {{ consultation_question_required ? 'required' : '' }}" data-consultation-question-order="{{consultation_question_order}}" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}">{{ consultation_question_survey_submit_text }}</button></div>
    {% endif %}
    {% if not consultation_question_first %}
      <div class="consultation-question-nav-button-wrapper"><button class="consultation-question-button consultation-question-prev-button" data-consultation-question-order="{{consultation_question_order}}" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}">Previous Question</button></div>
    {% endif %}
  </div>
</div>