{% extends 'consultation-question.html.twig' %}
{% set question_type_name = 'question-type-short-text-question' %}
{% set question_classes = [
  'consultation-question',
  question_type_name
]%}
{% if consultation_question_required %}
{%  set question_classes = question_classes|merge(['required']) %}
{% endif %}
{% block question_type %}{{ question_type_name }}{% endblock %}
{% block question_attributes %}{{ attributes.addClass(question_classes) }}{% endblock %}
{% block question_instructions %}Enter your answer in the box below{% endblock %}
{% block question_content %}
  <textarea rows="1" name="consultation-question-{{ consultation_question_id }}" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}"></textarea>
{% endblock %}