{% extends 'consultation-question.html.twig' %}
{% set question_type_name = 'question-type-slider-question' %}
{% set question_classes = [
  'consultation-question',
  question_type_name
]%}
{% if consultation_question_required %}
{%  set question_classes = question_classes|merge(['required']) %}
{% endif %}
{% block question_type %}{{ question_type_name }}{% endblock %}
{% block question_attributes %}{{ attributes.addClass(question_classes) }}{% endblock %}
{% block question_instructions %}Position the slider towards the end you agree with more{% endblock %}
{% block question_content %}
  <div class="slider-wrapper">
    {{content.field_bottom_bound_label}}
    <input type="range" min="0" max="100" value="50" name="consultation-question-{{ consultation_question_id }}" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}" />
    {{content.field_upper_bound_label}}
  </div>
{% endblock %}