<input id="consultation-question-{{ consultation_question_id }}-checkbox--{{ option_slug }}" name="consultation-question-{{ consultation_question_id }}-checkbox" data-consultation-survey-id="{{ consultation_question_survey_id }}" data-consultation-question-id="{{ consultation_question_id }}" type="checkbox" value="{{ option_slug }}" />
<label for="consultation-question-{{ consultation_question_id }}-checkbox--{{ option_slug }}">
  <div class="list-option-content-wrapper">{{ elements }}</div>
</label>